/ {
    aliases {
        scrolla = &scroll_a;
        scrollb = &scroll_b;
        scrollbtn = &scroll_btn;
        ledstrip = &led_strip;
        sw0 = &left_button;
        sw1 = &right_button;
        sw2 = &forward_button; // not connected on the PCB
        sw3 = &backward_button; // not connected on the PCB
        dpi-btn = &dpi_button;
        fuel-gauge0 = &max17048;
        glow-en = &glow_en;
    };

    
    buttons {
        compatible = "gpio-keys";
        status = "okay";
        
        scroll_a: scroll_a {
            gpios = <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        };
        scroll_b: scroll_b {
            gpios = <&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        };
        scroll_btn: scroll_btn {
            gpios = <&gpio1 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };
        right_button: right_button {
            gpios = <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "Right Click";
        };
        left_button: left_button {
            gpios = <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "Left Click";
        };
        forward_button: forward_button {
            gpios = <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "Forward Button";
            // this button is not connected on the PCB
        };
        backward_button: backward_button {
            gpios = <&gpio1 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "Backward Button";
            // this button is not connected on the PCB
        };
        dpi_button: dpi_button {
            gpios = <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "DPI Button";
        };
    };    

    output {
        compatible = "gpio-leds";
        status = "okay";

        glow_en: glow_en {
            gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
        };
    };

    id_dev_0: hid_dev_0 {
		compatible = "zephyr,hid-device";
		label = "HID0";
		protocol-code = "none";
		in-polling-period-us = <125>;
		in-report-size = <64>;
	};

	chosen {
		zephyr,console = &cdc_acm_uart0;
	};
};

&i2s0 {
    status = "okay";
    pinctrl-0 = <&i2s0_default_alt>;
	pinctrl-names = "default";
    // Additional I2S configuration as needed
    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-i2s";
        reg = <0>;
        chain-length = <5>;         
        color-mapping = <1 0 2>;    
        reset-delay = <120>;      
        i2s-dev = <&i2s0>;     
    };
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&usbd {
    status = "okay";
};

&spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
    paw3395_0: paw3395@0 {
        compatible = "pixart,paw3395";
        reg = <0>;
        irq-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
        spi-max-frequency = <2000000>;
    };
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&i2c0 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	max17048:max17048@36 {
		compatible = "maxim,max17048";
		status = "ok";
		reg = <0x36 >;
	};
};

&pinctrl {
    i2s0_default_alt: i2s0_default_alt {
		group1 {
			psels = <NRF_PSEL(I2S_SDOUT, 0, 24)>; // GLOW_LV
		};
	};
	spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 9)>, 
                    <NRF_PSEL(SPIM_MOSI, 0, 8)>,
                    <NRF_PSEL(SPIM_MISO, 0, 6)>;
            };
    };
    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 9)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 8)>,
                    <NRF_PSEL(SPIM_MISO, 0, 6)>;
            low-power-enable;
        };
    };
	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 26)>, <NRF_PSEL(TWIM_SCL, 0, 27)>;
		};
	};

	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 26)>, <NRF_PSEL(TWIM_SCL, 0, 27)>;
			low-power-enable;
		};
	};
};